   <header class="header">
        <a href="../index.php"><img class="logo" src="{{asset('assets/images/Garage_V.parrot.png')}}"
                alt="logo garage"></a>
        <div class="navi">
            <a href="{{path('app_login')}}"><button class="connexion">connexion</button></a>
            <nav class="Le_menu">
                <div class="toggle">
                    <img src="{{asset('assets/images/bars-solid.svg')}}" alt="menu button" class="ouvrir">
                    <img src="{{asset('assets/images/x-lg.svg')}}" alt="bouton fermer menu" class="fermer">
                </div>
                <ul class="menu">
                    <li><a href="../index.php">Accueil</a></li>
                    <li><a href="/pages/carrosserie.php">Carrosserie</a></li>
                    <li><a href="/pages/vehicule-occasion.php"> Véhicules<br>d'occasion</a></li>
                    <li><a href="/pages/mecanique.php">Mécanique</a></li>
                    <li><a id="scrollToDown">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>