{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot{% endblock %}

{% block body %}
{% for horaire in horaires %}
    <p>{{ horaire.heureMatin }}</p>
    <p>{{ horaire.heureSoir }}</p>
    <p>{{ horaire.jour }}</p>
{% endfor %}
{% endblock %}
